body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
p{
    text-align: justify;
}
span{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.hero-text{
    width: 50%;
    padding: 5%;
}
.hero-text h1{
    font-size: 38px;
}
.hero-img{
    width: 50%;
    padding: 5%;
}
.hero-img img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-img{
    width: 50%;
    padding: 5%;
}
.dream-text{
    width: 50%;
    padding: 5%;
}
.dream-big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.full-stact-text{
    width: 38%;
    margin-right: 2%;
    margin-left: 5%;
    box-shadow: 10px 10px 30px gray;
    padding:0 5%;
    border-left: 4px solid tomato;
    
}
.baby-text{
     width: 38%;
     margin-left: 2%;
     margin-right: 5%;
     padding:0 5%;
     box-shadow: 10px 10px 30px gray;
     border-left: 7px solid;
     border-image: linear-gradient(blue, cyan);
     border-image-slice:1;     
    
}
.dev-tex{
    font-size: 40px;
}
.color{
    color: orange;
}
.experiation-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
    margin-top: 80px;
}